body {
    background: linear-gradient(to bottom, #4dd682, #b1e9d2);
    font-family: Arial, sans-serif;
    height: 100vh; /* add this */
    margin: 0
  }
  
  .form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  

  h1 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

.form-group:last-child {
  margin-right: 6;
}
  .form-label {
    color: #583434;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .form-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-radio {
    margin-right: 10px;
  }
  
  .submit-btn {
    padding: 0.75rem;
    background-color: #76e28d;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-btn:hover {
    background-color: #2980B9;
  }
  